<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<form method="post"action="addOffence">
	
	<table>
		<tr>
			<td><label for="OffenceId">Offence Id</label></td>
			<td><input type="number" name="OffenceID"/></td>
		</tr>
		
		<tr>
			<td><label for="OffenceType">Offence Type</label></td>
			<td><input type="text" name="OffenceType"/></td>
		</tr>
			<tr>
			<td><label for="Penality ">penality</label></td>
			<td><input type="number" name="penality"/></td>
		</tr>
		<tr>
			<td><label for="VehicleType">Vehicle Type</label></td>
			<td><input type="text" name="VehicleType"/></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="submit"/></td>
		</tr>
	
	</table>
	
	
	
	</form>

</body>
</html>